<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../css/style.css">
    <link rel="stylesheet" href="./../css/login.css">
    <title>Login</title>
</head>
<body>
<header class="header">

</header>
<main class="main">

    <div class="fullMain">
        <div class="leftMain">
            <form>
            <span class="LogInHeader">Log In</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <label class="lblUsername">
                    Username:
                </label>
                <input type="text" name="username" placeholder="Username" class="txtUsername">

                <label class="lblPassword">
                    Password:
                </label>
                <input type="password" name="password" placeholder="Password" class="txtPassword">
                
                <input type="checkbox" value="Remember me" name="RememberMe" class="RememberMe">
                <span class="lblRememberMe">Remember me</span>

                <input type="submit" value="LogIn" class="btnLogin">
            </form>
            
        </div>
        <div class="rightMain">
            <div class="piclogoframe">
                <img src="./../image/logo.png" alt="" class="piclogo">
            </div>
            <div class="rightMainContent">
                <span class="rightMainContentHeader">Welcome to the Inventory Management System</span>
                <span class="rightMainContentText">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, ipsam? Hic molestias impedit fuga quibusdam natus autem voluptates, quisquam exercitationem dignissimos soluta ab ipsam. Non, totam. Soluta vero voluptas incidunt!
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, ipsam? Hic molestias impedit fuga quibusdam natus autem voluptates, quisquam exercitationem dignissimos soluta ab ipsam. Non, totam. Soluta vero voluptas incidunt!
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, ipsam? Hic molestias impedit fuga quibusdam natus autem voluptates, quisquam exercitationem dignissimos soluta ab ipsam. Non, totam. Soluta vero voluptas incidunt!
                </span>
            </div>

        </div>
    </div>
</main>
<footer class="footer">
<a href="https://n3thunt3r.social"> By n3thunt3r.social</a>
</footer>

</body>
</html>